$primary: rgb(193, 163, 107);
$secondary: rgb(24, 26, 28);
$victory: rgb(71, 163, 88);
$defeat: rgb(180, 61, 45);
$background: rgb(6, 21, 34);
$chat-menu-background: rgb(86, 91, 91);
$chat-background: rgb(38, 38, 45);
$chat-primary-color: rgb(255, 255, 255);
$chat-secondary-color: rgb(166, 160, 1);

$history-img-size: 150px;
$standard-border-size: 3px;

$chat-menu-item-height: 50px;
