$primary: rgb(193, 163, 107);
$victory: rgb(71, 163, 88);
$defeat: rgb(180, 61, 45);
$background: rgb(6, 21, 34);
$chat-menu-background: rgb(86, 91, 91);

$history-img-size: 150px;
$standard-border-size: 3px;

$chat-menu-item-height: 50px;
