@import "mixins/sizes";
@import "mixins/border";
@import "variables";
@import "chat/menu";
@import "chat/global";
@import "chat/window.header";
@import "chat/channel.member";
@import "chat/chat";
@import "profile";
@import "alert";
@import "lobby";
@import "slider";

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

.border-gold {
  border: $standard-border-size solid $primary;
}

.primary-btn {
  height: 3em;
  width: 10em;
  margin: 10px;
  border: 0px;
  color: $primary;
  background-color: $background;
  border: 1px solid lighten($background, 10%);
  border-radius: 5px;
  transition: border 0.5s ease;

  &:hover {
    border: 1px solid $primary;
  }
}

.square {
  aspect-ratio: 1 / 1;
}

.rounded {
  border-radius: 10000px;
  overflow: hidden;
}

.avatar {
  @extend .square;
  object-fit: cover;
  object-position: center;
}

.user-image {
  @extend .rounded;
  @extend .avatar;
}

.container {
  margin: 0 auto;
  width: 1320px;
  padding: 0 20px;

  @include screen-xl {
    width: 1140px;
  }

  @include screen-lg {
    width: 960px;
  }

  @include screen-md {
    width: 720px;
  }

  @include screen-sm {
    width: 540px;
  }

  @include screen-xs {
    width: 100%;
  }
}
