@import "mixins/sizes";
@import "mixins/border";
@import "variables";
@import "chat/menu";
@import "chat/global";
@import "profile";
@import "alert";
@import "lobby";
@import "slider";

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

.border-gold {
  border: $standard-border-size solid $primary;
}

.square {
  aspect-ratio: 1 / 1;
}

.rounded {
  border-radius: 10000px;
  overflow: hidden;
}

.avatar {
  @extend .square;
  object-fit: cover;
  object-position: center;
}

.user-image {
  @extend .rounded;
  @extend .avatar;
}

.container {
  margin: 0 auto;
  width: 1320px;
  padding: 0 20px;

  &.large {
    width: 1800px;

    @include screen-xxl {
      width: 1320px;
    }
  }

  @include screen-xl {
    width: 1140px !important;
  }

  @include screen-lg {
    width: 960px !important;
  }

  @include screen-md {
    width: 720px !important;
  }

  @include screen-sm {
    width: 540px !important;
  }

  @include screen-xs {
    width: 100% !important;
  }
}
