@import "mixins/sizes.scss";
@import "variables.scss";
@import "mixins/border";

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

.border-gold {
  border: $standard-border-size solid $primary;
}

.user-image {
  @include rounded;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.square {
  aspect-ratio: 1 / 1;
}

.container {
  margin: 0 auto;
  width: 1320px;
  padding: 0 20px;

  @include screen-xl {
    width: 1140px;
  }

  @include screen-lg {
    width: 960px;
  }

  @include screen-md {
    width: 720px;
  }

  @include screen-sm {
    width: 540px;
  }

  @include screen-xs {
    width: 100%;
  }
}
