@import "../variables";
@import "../inputsAndButtons";

#chat {
  overflow-x: hidden;
  display: flex;
  height: calc(93vh - 1px);
  width: 100vw;
  .default-chat-window {
    display: flex;
    width: 100%;
    background-color: $secondary;
    justify-content: center;
    align-items: center;
    color: $primary;
  }
  .chat-window {
    width: 85%;
    height: 100%;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
  }
  .chat-window-header {
    display: flex;
    position: relative;
    height: 10%;
    width: 100%;
    color: $chat-primary-color;
    border-bottom: solid $primary;
    align-items: center;

    button {
      background: none;
      border: solid $chat-secondary-color;
      color: $chat-secondary-color;
      margin: 0 2%;
    }

    .chat-window-header-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0 5%;
      width: 100%;
      height: 100%;
      h2 {
        margin: 0;
      }
      i {
        margin-left: auto;
        color: $primary;
        --ggs: 1.3;
        &:hover {
          cursor: pointer;
          color: white;
        }
      }

      p {
        margin: 0;
        color: darken($chat-primary-color, 40%);
      }
    }
  }
  .chat-body {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .chat-area {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .chat-messages {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 95%;
        overflow-y: auto;
        .button {
          margin-top: 5px;
        }
        .chat-message {
          text-align: left;
          width: fit-content;
          max-width: 45%;
          overflow-wrap: break-word;
          padding: 10px;
          min-width: 30%;
          .date {
            color: black;
          }
        }
        .msg-in {
          display: flex;
          gap: 1%;
          align-items: center;
          width: 100%;
          align-self: flex-start;
          margin-bottom: 25px;
          img {
            height: 50px;
          }
        }
        .msg-out {
          display: flex;
          gap: 1%;
          width: 100%;
          align-items: center;
          align-self: flex-end;
          margin-bottom: 25px;
          img {
            height: 50px;
          }
        }
        .chat-message-in {
          background-color: #24272a;
          color: $primary;
          border-left: 1px solid $primary;
          border-radius: 0 1rem 1rem 0;
          h4,
          p {
            margin: 5px 2px 5px 2px;
          }
        }
        .chat-message-out {
          background-color: #32363a;
          color: $primary;
          border-right: 1px solid $primary;
          border-radius: 1rem 0 0 1rem;
          margin-left: auto;
          h4,
          p {
            margin: 5px 2px 5px 2px;
          }
        }
      }
      .chat-input {
        height: 5%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        .input {
          height: 100%;
          width: 100%;
          background: pink;
          padding: 0 10px 0 10px;
          border-bottom: none;
        }
      }
      .button {
        width: 10%;
        height: 100%;
      }
    }
  }
}

.round-btn {
  border-radius: 50%;
}
