@import "../variables";
@import "../inputsAndButtons";

#chat {
  overflow-x: hidden;
  display: flex;
  height: calc(100vh - 101px);
  width: 100vw;
  @include screen-md {
    flex-direction: column;
    min-height: calc(100vh - 130px);
    align-items: flex-start;
  }
  .default-chat-window {
    display: flex;
    width: 100%;
    background-color: $secondary;
    justify-content: center;
    align-items: center;
    color: $primary;
  }
  .chat-window {
    width: 85%;
    @include screen-md {
      width: 100%;
      height: 70%;
    }
    background-color: $secondary;
    display: flex;
    flex-direction: column;
  }
  .chat-window-header {
    display: flex;
    position: relative;
    height: 5%;
    width: 100%;
    color: $chat-primary-color;
    border-bottom: solid $primary;
    align-items: center;
    @include screen-md {
      height: 8%;
      padding: 4px 0 4px 0;
    }

    button {
      background: none;
      border: solid $chat-secondary-color;
      color: $chat-secondary-color;
      margin: 0 2%;
    }

    .chat-window-header-info {
      padding: 0 5%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      h2 {
        margin: 0 8px 0 0;
      }
      i {
        //margin-left: auto;
        color: $primary;
        margin-left: auto;
        --ggs: 1.3;
        &:hover {
          cursor: pointer;
          color: white;
        }
      }

      p {
        margin: 0;
        color: darken($chat-primary-color, 40%);
      }
    }
  }
  .chat-body {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    @include screen-md {
      //  height: calc(80% - 130px);
    }
    .chat-area {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .chat-messages {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 95%;
        padding: 10px;
        overflow-y: auto;
        background: rgb(46, 35, 18);
        background: radial-gradient(circle, rgba(46, 35, 18, 1) 0%, rgba(37, 31, 19, 1) 100%);

        .button {
          margin-top: 5px;
        }
        .chat-message {
          text-align: left;
          width: fit-content;
          max-width: 45%;
          overflow-wrap: break-word;
          padding: 10px;
          min-width: 30%;
          h4,
          p {
            margin: 5px 2px 5px 2px;
          }
          .date {
            color: rgb(102, 88, 59);
            text-align: right;
            font-size: 12px;
          }
        }

        .msg-in {
          display: flex;
          gap: 1%;
          align-items: center;
          width: 100%;
          align-self: flex-start;
          margin-bottom: 25px;
          background: transparent;
          img {
            height: 50px;
          }
        }
        .msg-out {
          display: flex;
          gap: 1%;
          width: 100%;
          align-items: center;
          align-self: flex-end;
          margin-bottom: 25px;
          background: transparent;
          img {
            height: 50px;
          }
        }
        .chat-message-in {
          background-color: #957c55;
          color: $secondary;
          border-left: 1px solid $primary;
          border-radius: 0 1rem 1rem 0;
          box-shadow: 1.5px 1.5px 1.5px rgba(132, 109, 55, 0.692);
        }
        .chat-message-out {
          background-color: #c2a672;
          color: $secondary;
          border-right: 1px solid $primary;
          border-radius: 1rem 0 0 1rem;
          box-shadow: -1.5px 1.5px 1.5px rgba(132, 109, 55, 0.692);
          margin-left: auto;
        }
      }
      .chat-input {
        height: 5%;
        @include screen-md {
          height: 65px;
        }
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        border: 1px solid $primary;
        .input {
          height: 100%;
          width: 100%;
          background: rgb(26, 25, 23);
          padding: 0 10px 0 10px;
          border-bottom: none;
        }
      }
      .button {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $secondary;
          padding: 8px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .channel-info {
      width: 35%;
      @include screen-md {
        z-index: 1;
        width: 100%;
        left: 0;
        -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
        backdrop-filter: blur(25px);
        background-color: rgba(24, 26, 28, 0.482);
        position: absolute;
        overflow-y: scroll;
      }
      .channel-options {
        .button {
          width: 100%;
        }
      }
    }
  }
  input[type="radio"] {
    appearance: none;
    background-color: $secondary;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.09em solid currentColor;
    border-radius: 50%;
    &:checked {
      background-color: $primary;
    }
  }
}

.round-btn {
  border-radius: 50%;
}
