@import "../variables";

#chat {
  display: flex;
  height: 90vh;
  .chat-window {
    width: 100%;
    background-color: $chat-background;
    .chat-window-header {
      height: 10%;
      width: 100%;
    }
  }
  .default-chat-window {
    display: flex;
    width: 100%;
    background-color: $chat-background;
    justify-content: center;
    align-items: center;
    color: $chat-secondary-color;
  }
}
