@import "../variables";

.all-chan-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  align-content: flex-start;
  align-items: center;
  overflow-y: auto;
  height: 70vh;
  min-width: 60%;
  z-index: 9;
  padding: 20px;
  .channel-in-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $primary;
    padding: 0.5rem;
    width: 20%;
    height: 20%;
    h3 {
      margin: 8px 0 8px 0;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        margin-bottom: 10px;
      }
    }
  }
}

.close-modal {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
